.counter__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter__actions--start {
    margin-right: 20px;
}

.counter__actions--stop {
    margin-right: 20px;
}
.counter__minutes {
    font-size: 14em;
}

.counter__divider {
    font-size: 14em;
}

.counter__seconds {
    font-size: 14em;
}